/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styling */
.navbar {
    background-color: #95674d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px; 
    padding: 0 20px; 
    position: relative;
}

img {
    width: auto; 
    height: 69px; 
    object-fit: contain; 
    position: absolute; 
    top: 50%; 
    left: 0; 
    transform: translateY(-50%); /* Vertically centers the logo */
}

.navbar-toggler {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

/* Navbar links */
.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar-links a:hover {
    background-color: #985e3d;
    border-radius: 5px;
}

.navbar-links .dropdown {
    position: relative;
}

.navbar-links .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #95674d;
    display: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.navbar-links .dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-links .dropdown-menu a {
    color: white;
    text-decoration: none;
    display: block;
}

.navbar-links .dropdown-menu a:hover {
    background-color: #95674d;
}

/* Mobile view */
@media screen and (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar-links ul {
        flex-direction: column;
        gap: 0;
    }

    .navbar-links a {
        text-align: center;
        padding: 15px;
        width: 100%;
    }
}
